{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "plugins": ["babel", "flowtype", "react", "prettier"],
  "parser": "babel-eslint",
  "globals": {
    "expect": true,
    "describe": true,
    "test": true,
    "it": true,
    "afterEach": true,
    "beforeEach": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
    "react/jsx-filename-extension": ["off", { "extensions": [".jsx"] }],
    "no-underscore-dangle": ["off"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/forbid-prop-types": ["off"],
    "import/prefer-default-export": ["off"],
    "react/sort-comp": [
      1,
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "parser": "flow"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": true,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        },
        "allowChildren": false
      }
    ]
  }
}
