{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react-hooks", "flowtype"],
  "parser": "babel-eslint",
  "extends": "otovo/react-recommended",
  "rules": {
    "react/default-props-match-prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "flowtype/define-flow-type": 2
  }
}
